<!--editBook.html-->
<html>
<head></head>
<body>
	<h1>Edit Book</h1>
	<h3>Name:</h3>
	Name:
	<form action="{{url_for('editBook',book_id=book_id)}}" method='POST'>
		<input type='text' size='30' name='name'>
		<input type='submit' value='Submit'>
		<a href="{{url_for('showBook')}}"> cancel </a>
	</form>
	
</body>
</html>