<!-showBook.html->
<html>
<head></head>
<body>
	<h1>Books</h1>
	{% if books==[] %}
		<p>No books exists</p>
	{% else %}
		{% for i in books %}
			<div>
				{{i.title}}<br/>
				<a href="{{url_for('editBook', book_id=loop.index)}}"> Edit books</a><br/>
				<a href="{{url_for('deleteBook', book_id=loop.index)}}">Delete books</a>
				<br/><br/>
			</div>
		{% endfor %}
	{% endif %}
	</br></br></br></br>
	<a href="{{url_for('newBook')}}">Click here to add new books</a> 
</body>
</html>